{:paths ["src"]
 :deps  {org.babashka/http-client {:mvn/version "0.4.19"}
         cheshire/cheshire        {:mvn/version "5.13.0"}
         org.babashka/cli         {:mvn/version "0.8.59"}
         babashka/fs              {:mvn/version "0.5.20"}}}
